# Environment
NODE_ENV=
# Application
NEXT_PUBLIC_APP_URL=
NEXTAUTH_SECRET=
# Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
# NextAuth Trusted Hosts (for development)
NEXTAUTH_URL_INTERNAL=
# Google Maps API
MAPS_API_KEY=
# MongoDB
MONGODB_URI=
# WordPress API
NEXT_PUBLIC_WP_API_URL=
# Placeholder image
NEXT_PUBLIC_PLACEHOLDER_IMAGE=/images/placeholder/article-placeholder.svg
# GSAP Club Token
GSAP_TOKEN=
# Resend
RESEND_API_KEY=
FROM_EMAIL=
# UploadThing
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=